/* header styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    padding-left: 10%;
    
}

.logo{
    align-items: center;
    display: flex;
    gap: 20px;
}
.name{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}
.epic{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav > ul{
    display: flex;  
}
nav li{
    display: flex;
    padding: 10px 44px;
    justify-content: center;
    align-items: center;
    gap: 44px;
    font: 18px;
    font-weight: 400;
    color: var(--Dark-02, #424247);
}
.home{
    color: #FF5400;
}
/* Banner styles */
.banner img{
    width: 100%;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    margin-left: 10%;
    

}
.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 28%;
    left: 48%;
    transform: translate(-50%, -50%);
    
}
.text{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 46%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 40%;
    
}
.action{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}
.action input{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border-color: white;
}
.btn{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;


}
.form{
    align-items: center;
    color: rgba(19, 19, 24, 0.50);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
        
}
.box{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    
    
}  
.description{
    display: flex;
    margin-top: 100px;
    width: 1170px;
    margin-left: 135px ;
    margin-bottom: 100px;
}
.title-2{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.description p{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.description li{
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.Choice{
    text-align: center; 
}
.Choice p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    max-width: 540px;
    margin-left: 32%;
}
/* group of images styles */
.place{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    gap: 25px;
    display: flex;
    margin-left: 10%;
    
}
.name{
    display: flex;

}
.place-1{
    width: 573px;
    height: 286;
    border-radius: 16px;
    gap: 25px;
    display: flex;
    margin-left: 10%;
    margin-top: 25px;
}
.place-2{
    height: 300px;
    gap: 25px;
    margin-top: 25px;
    display: flex;
    margin-left: 10%;

}

.contact{
    text-align: center;
}
.contact p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    max-width: 540px;
    margin-left: 32%;
}
/* details */
.details{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin-left: 10%;
    margin-top: 48px;
    

}
.details img{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 32px;


}
.hotel{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.details h2{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
    margin-left: 32px;
}
.details p{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 32px;

}
.map{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.price{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 30%;
    margin-top: 24px;
    margin-bottom: 100px;
}
.price img{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 32px;


}
.price h2{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
    margin-left: 32px;

    
}
.price p{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 32px;

}
/* deals and discount styles */
.sales p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-left: 28%;
    margin-bottom: 48px;
    
}
.discount {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 250px;
    margin-bottom: 250px;   
    
    
    
 
}
.logo-2{
    position: absolute;
    top: 46%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 28px 56px 55px 260px; 
    display: flex;
    justify-content: space-around;
}
.tour{
    position: absolute;
    top: 55%;
    left: 67%;
    transform: translate(-50%, -50%);
}
.para{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.tour h2{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.button{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    cursor: pointer;
}

.pri{
    color: #FF5400;

    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.discount-2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 250px;
    margin-right: 50px;
}
.logo-3{
    position: absolute;
    top: 46%;
    left: 8%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 28px 56px 55px 260px; 
    display: flex;
    justify-content: space-around;
}
.tour-2{
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.discount-3{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 250px;
    margin-bottom: 250px; 
}
.logo-4{
    position: absolute;
    top: 46%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 28px 56px 55px 260px; 
    display: flex;
    justify-content: space-around;
}
.tour-3{
    position: absolute;
    top: 55%;
    left: 67%;
    transform: translate(-50%, -50%);
}

/* .lost{
    position: absolute;
    top: 690%;
}
.bd{
    position: absolute;
    top: 725%;
} */
.hill{
    position: absolute;
    top: 690%;
    display: flex;
    margin-top: 100px;
    width: 1180px;
    margin-left: 135px ;
    margin-bottom: 100px;
    
}
.title-3{
    width: 448px;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}
.lost p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.lost ul{
    color: #131318;

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
.lost button{
    margin-top: 32px;
}
.bd p{
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    top: 28%;
    right: 16%;
    max-width: 250px;
}
.news{
    position: absolute;
    top: 760%;
    display: flex;
    margin-top: 100px;
    width: 1180px;
    margin-left: 135px ;
    margin-bottom: 100px;
    justify-content: space-between;
    gap: 50px;
}
.letter{
    background: #FFF;
}

.letter input{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    font-size: 16px;
    
}
.btn-2 {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.rec{
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.travel{
    transform: rotate(-2.628deg);
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-right: 15px;
    margin-top: -172px;
    
    
}
.save{
    transform: rotate(-2.628deg);
    color: #ffffff;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 70px;
    }
.nothing{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    margin-left: 340px;
     
}    
.footer{
    position: absolute;
    top: 830%;
    text-align: center;
    margin-top: 100px;
    width: 1440px;
    margin-left: 135px ;
    margin-bottom: 100px;
    justify-content: space-between;
    gap: 50px;
    height: 502px;
    margin-left: -1%;
}
.lst{
    align-items: center;
    display: flex;
    gap: 20px;
    margin-left: 40%;
    
}
.fb{
    margin-top: 33px;
    width: 174.322px;
    height: 24px;
    flex-shrink: 0;
}
.licence{
    margin-top: 123px;
}








/* responsive */
/* mobile device */
@media screen and (max-width:600px) {
    nav{
        flex-direction: column; 
    }
  
   
    
    
}